.window {
  position: absolute;
}

.window .mdc-card {
  height: 100%;
}

.resize {
  position: absolute;
  //background-color: rgba(255, 0, 0, 0.5);
  z-index: 1;
}

.vertical {
  height: 4px;
  cursor: row-resize;
}

.horizontal {
  width: 4px;
  cursor: col-resize;
}

.bidirectional {
  width: 4px;
  height: 4px;
}

.top {
  left: 0;
  top: -2px;
  right: 0;
}

.right {
  top: 0;
  right: -2px;
  bottom: 0;
}

.bottom {
  left: 0;
  bottom: -2px;
  right: 0;
}

.left {
  top: 0;
  left: -2px;
  bottom: 0;
}

.top-left {
  top: -2px;
  left: -2px;
  cursor: nwse-resize;
}

.top-right {
  top: -2px;
  right: -2px;
  cursor: nesw-resize;
}

.bottom-left {
  bottom: -2px;
  left: -2px;
  cursor: nesw-resize;
}

.bottom-right {
  bottom: -2px;
  right: -2px;
  cursor: nwse-resize;
}

header {
  background-color: rgba(0, 255, 0, 0.5);
  user-select: none;
  cursor: pointer;
}

.mdc-tab {
  min-height: 0px;
  padding: 5px 24px;
}

.mdc-tab-bar {
  height: 100%;
}

.mdc-toolbar__row {
  min-height: 0px;
}

.mdc-toolbar__icon {
  padding: 5px !important;
}

.mdc-tab-bar-scroller__indicator {
  width: 24px;
}

.mdc-tab-bar__indicator {
  height: 3px;
}