.window {
  position: absolute;
}

.window .mdc-card {
  height: 100%;
}

.resize {
  position: absolute;
  //background-color: rgba(255, 0, 0, 0.5);
  z-index: 1;
}

.vertical {
  height: 6px;
  cursor: row-resize;
}

.horizontal {
  width: 6px;
  cursor: col-resize;
}

.bidirectional {
  width: 6px;
  height: 6px;
}

.top {
  left: 0;
  top: -3px;
  right: 0;
}

.right {
  top: 0;
  right: -3px;
  bottom: 0;
}

.bottom {
  left: 0;
  bottom: -3px;
  right: 0;
}

.left {
  top: 0;
  left: -3px;
  bottom: 0;
}

.top-left {
  top: -3px;
  left: -3px;
  cursor: nwse-resize;
}

.top-right {
  top: -3px;
  right: -3px;
  cursor: nesw-resize;
}

.bottom-left {
  bottom: -3px;
  left: -3px;
  cursor: nesw-resize;
}

.bottom-right {
  bottom: -3px;
  right: -3px;
  cursor: nwse-resize;
}

header {
  background-color: rgba(0, 255, 0, 0.5);
  user-select: none;
  cursor: pointer;
}

.mdc-tab {
  min-height: 0px;
  padding: 5px 24px;
}

.mdc-tab-bar {
  height: 100%;
}

.mdc-toolbar__row {
  min-height: 0px;
}

.mdc-toolbar__icon {
  padding: 5px !important;
}

.mdc-tab-bar-scroller__indicator {
  width: 24px;
}

.mdc-tab-bar__indicator {
  height: 3px;
}

.window-content {
  flex-grow: 1;
  position: relative;
}

.tab-eveccpwgl canvas {
  height: 100%;
  position: relative;
  width: 100%;
}

.tab-eveccpwgl {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.window .window-button {
  opacity: 0;
  transition: opacity 0.2s;
}

.window:hover .window-button,
.window.focused .window-button {
  opacity: 1;
}

.taskbar-tab .window-tab-close {
  //display: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.taskbar-tab:hover .window-tab-close {
  //display: inline-block;
  opacity: 1;
}

.window-tab-close {
  vertical-align: bottom;
  //margin-left: 6px;
  //margin-right: -20px;
  position: absolute;
  right: 0;
}

.maximized {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 500px) {

  .window {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

}